.cta {

    display:                    inline-block;
    background-color:           $green;
    color:                      $white;
    text-transform:             uppercase;
    padding:                    16px 24px;
    font-weight:                $type-weight-semibold;
    letter-spacing:             0.2rem;

}