html {
  font-size : 62.5%;
}

body {
  @include type-body();
  color : $gray-darker;
  font-feature-settings: "lnum", "onum" off, "salt";
}

.lead {
  @include type-body2();
}

h1 {
  @include type-headline();
}

h2 {
  @include type-headline();
}

h3 {
  @include type-headline();
  letter-spacing: 0;
  font-weight: $type-weight-bold;
}

h4 {
  @include type-headline();
}

a {
  color           : $green;
  text-decoration : none;
}

hr {
  height           : 24px;
  margin           : 32px 0;

  background-color : transparent;
  font-size        : 24px;
  text-align       : center;
  border           : 0;

  &:before {
    content : "🎈";
  }
  @include media(">=desktop") {
    margin : 64px 0;
  }
}