// Typography

@mixin type-headline() {
  font-family    : $type-base-family;
  font-size      : $type-headline-size;
  font-weight    : $type-headline-weight;
  letter-spacing : $type-headline-letter-spacing;
  line-height    : $type-headline-line-height;
}

@mixin type-body2() {
  font-family    : $type-base-family;
  font-size      : $type-body2-size;
  font-weight    : $type-body2-weight;
  letter-spacing : $type-body2-letter-spacing;
  line-height    : $type-body2-line-height;
}

@mixin type-body() {
  font-family    : $type-base-family;
  font-size      : $type-body-size;
  font-weight    : $type-body-weight;
  letter-spacing : $type-body-letter-spacing;
  line-height    : $type-body-line-height;
}

@mixin type-caption1() {
  font-family    : $type-base-family;
  font-size      : $type-caption1-size;
  font-weight    : $type-caption1-weight;
  letter-spacing : $type-caption1-letter-spacing;
  line-height    : $type-caption1-line-height;
}


// Grid

@mixin grid($col, $sum, $push) {
  width          : round-to(percentage($col/$sum), 3, floor);
  float          : left;
  margin-left    : round-to(percentage($push/$sum), 3, floor);
}

@mixin pos($col, $sum, $push) {
  width          : round-to(percentage($col/$sum), 2, floor);
  position       : absolute;
  left           : round-to(percentage($push/$sum), 2, floor);
}